h1{
    text-align: center;
    background-color: rgb(194, 194, 194);
    font-size: 50px;
}
form{
    text-align: center;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}
input[type=submit]
{
    background-color: blue;
    padding: 16px 32px;
    margin: 4px 2px;
    color: white;
    font-size: 30px;
}